Checks: '-*,readability-identifier-naming'

CheckOptions:
  - { key: readability-identifier-naming.TypeAliasCase,       value: CamelCase }
  - { key: readability-identifier-naming.TypeAliasIgnoredRegexp, value: '^_' }

WarningsAsErrors: ''
HeaderFileExtensions:         ['h','hpp']
ImplementationFileExtensions: ['c','cpp']
HeaderFilterRegex: '.*'
FormatStyle: none